altgraph==0.17.4
future==1.0.0
iso8601==2.1.0
numpy==2.3.4
packaging==25.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
pyrealsense2==2.56.5.9235
pyserial==3.5
PySide6==6.10.0
PySide6_Addons==6.10.0
PySide6_Essentials==6.10.0
PyYAML==6.0.3
serial==0.0.97
shiboken6==6.10.0
